
<nav class="navbar fixed-bottom">
    <ul *ngIf="!isAuth">
        <a class="navbar-brand" routerLink="/">
            <app-icon-button
              text="Accueil"
              imageSrc="../../../assets/images/controller.png"
            ></app-icon-button
          ></a>
        
          <a class="navbar-brand" routerLink="/login"
            ><app-icon-button
              text="Login"
              imageSrc="../../../assets/images/controller.png"
            ></app-icon-button
          ></a>
        
          <a class="navbar-brand" routerLink="/play"
            ><app-icon-button
              text="Jouer"
              imageSrc="../../../assets/images/controller.png"
            ></app-icon-button
          ></a>
        
          <a class="navbar-brand" routerLink="/play"
            ><app-icon-button
              text="Jouer"
              imageSrc="../../../assets/images/controller.png"
            ></app-icon-button
          ></a>
    </ul>
    <div *ngIf="isAuth">
        <p>
            Vous êtes connecté !
            <button (click)="onSignOut()">
                Se déconnecter
            </button>
        </p>
    </div>
  </nav>
  