.white {
  background-color: white;
}
.black {
  background-color: rgb(49, 100, 93);
}
.selected {
  background-color: #73fff8;
}
.potentialMove {
  background-color: rgb(131, 62, 158) !important;
}
.case {
  padding: 10px;
  height: width;
}
.disabledTurn {
  cursor: not-allowed;
}
.actualTurn {
  cursor: grab;
}
