.white {
  background-color: white;
}
.black {
  background-color: rgb(40, 80, 80);
}
.selected {
  background-color: #81e0db;
}
.potentialMove {
  background-color: rgb(135, 73, 160) !important;
}
.case {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.disabledTurn {
  cursor: not-allowed;
}
.actualTurn {
  cursor: grab;
}

.notYourTurn {
  background-color: rgb(54, 54, 54) !important;
}
.yourTurn {
  background-color: rgb(102, 160, 76) !important;
}
