<div id="bandeau">
  <div class="leftDiv">
    <img
      src="../../../../assets/images/profile-user.svg"
      alt="Icone Utilisateur"
      width="40"
    />
    <p>{{ pseudo }}</p>
  </div>
  <div *ngIf="isTurn">--&gt; Tour en cours &lt;--</div>
  <div class="rightDiv">
    <p>
      {{ time }}
    </p>
    <div *ngIf="isMe">
      <button
        *ngIf="!givingUp"
        type="button"
        class="btn btn-secondary"
        (click)="onClicOnGiveUpBtn()"
      >
        Abandonner
      </button>
      <button
        *ngIf="givingUp"
        type="button"
        class="btn btn-danger"
        (click)="onClicOnConfirmBtn()"
      >
        Confirmer
      </button>
      <button
        *ngIf="givingUp"
        type="button"
        class="btn btn-warning"
        (click)="onClickOnCancelBtn()"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
