<div [id]="id" class="banner" (window:resize)="onResize($event)">
  <div class="leftDiv">
    <img
      src="../../../../assets/images/profile-user.svg"
      alt="Icone Utilisateur"
      width="40"
    />
    <p class="pseudo">
      {{ pseudo }}
    </p>
  </div>
  <p *ngIf="isTurn" class="message">
    {{ message }}
  </p>
  <div class="rightDiv">
    <p class="timeDiv">
      {{ time }}
    </p>
    <div *ngIf="isMe">
      <button
        *ngIf="!givingUp"
        type="button"
        class="btn btn-secondary"
        (click)="onClicOnGiveUpBtn()"
      >
        Abandonner
      </button>
      <button
        *ngIf="givingUp"
        type="button"
        class="btn btn-danger"
        (click)="onClicOnConfirmBtn()"
      >
        Confirmer
      </button>
      <button
        *ngIf="givingUp"
        type="button"
        class="btn btn-warning"
        (click)="onClickOnCancelBtn()"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
