.header {
  background-color: #1d2548;
  height: 90px;
}
.header {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  color: white;
}
.separator {
  margin-top: 90px !important;
}
