.header {
    background-color: #1D2548;
    height: 90px;
}
.header {
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    font-size: xx-large;
    color: white;
}
.separator {
    margin-top: 90px !important;
}
