<div class="header fixed-top">AlphaChess</div>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom">
  <a class="navbar-brand" routerLink="/">
    <app-icon-button
      text="Accueil"
      imageSrc="../../../assets/images/controller.png"
    ></app-icon-button
  ></a>

  <a class="navbar-brand" routerLink="/login"
    ><app-icon-button
      text="Login"
      imageSrc="../../../assets/images/controller.png"
    ></app-icon-button
  ></a>

  <a class="navbar-brand" routerLink="/play"
    ><app-icon-button
      text="Jouer"
      imageSrc="../../../assets/images/controller.png"
    ></app-icon-button
  ></a>

  <a class="navbar-brand" routerLink="/play"
    ><app-icon-button
      text="Jouer"
      imageSrc="../../../assets/images/controller.png"
    ></app-icon-button
  ></a>
</nav>
