<div class="card bg-light mb-3" style="max-width: 18rem">
  <div class="card-header">
    <h5 class="card-title">{{ pseudo }}</h5>
  </div>
  <div class="card-body">
    <button type="button" (click)="accepter()" class="btn btn-success">
      Accepter
    </button>
    <button type="button" (click)="refuser()" class="btn btn-danger">
      Refuser
    </button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div>
        <div>
          <h4 class="card-title">Options</h4>
          <p *ngIf="isInfinite">Temps illimité</p>
          <p *ngIf="!isInfinite">{{ time }} minutes par joueurs</p>
        </div>
      </div>
    </li>
  </ul>
</div>
