.container {
  background-color: rgb(40, 40, 87);
  margin: 0;

  display: table;
  color: white;
}
.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  color: rgb(216, 216, 216);
}
.text-presentation {
  font-size: 1.4rem !important;
}
